/Essential/Essential_L1/*.suo
/Essential/Essential_L1/Essential_L1/bin
/Essential/Essential_L1/Essential_L1/obj
/Essential/Essential_L1/Essential_L1.1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Essential/Essential_L1/Essential_L1.1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Essential/Essential_L1/Essential_L1.1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Essential/Essential_L1/Essential_L1.1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Essential/Essential_L1/Essential_L1.1/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Essential/Essential_L1/Essential_L1.1/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Essential/Essential_L1/Essential_L1.1/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Essential/Essential_L1/Essential_L1.1/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Essential/Essential_L1/Essential_L1.1/bin/x64/Debug/Essential_L1.1.exe
/Essential/Essential_L1/Essential_L1.1/bin/x64/Debug/Essential_L1.1.exe.config
/Essential/Essential_L1/Essential_L1.1/bin/x64/Debug/Essential_L1.1.pdb
/Essential/Essential_L1/Essential_L1.1/bin/x64/Debug/Essential_L1.1.vshost.exe
/Essential/Essential_L1/Essential_L1.1/bin/x64/Debug/Essential_L1.1.vshost.exe.config
/Essential/Essential_L1/Essential_L1.1/obj/x64/Debug/Essential_L1.1.csproj.FileListAbsolute.txt
/Essential/Essential_L1/Essential_L1.1/obj/x64/Debug/Essential_L1.1.exe
/Essential/Essential_L1/Essential_L1.1/obj/x64/Debug/Essential_L1.1.pdb
/Essential/Essential_L1/Essential_L1.2/bin/Debug/Essential_L1.2.exe.config
/Essential/Essential_L1/Essential_L1.2/bin/Debug/Essential_L1.2.vshost.exe
/Essential/Essential_L1/Essential_L1.2/bin/Debug/Essential_L1.2.vshost.exe.config
/Essential/Essential_L1/Essential_L1.2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Essential/Essential_L1/Essential_L1.2/obj/Debug/Essential_L1.2.csproj.FileListAbsolute.txt
/Essential/Essential_L1/Essential_L1.2/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Essential/Essential_L1/Essential_L1.2/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Essential/Essential_L1/Essential_L1.2/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Essential/Essential_L1/Essential_L1.1/bin/x64/Debug/Essential_L1.1.vshost.exe.manifest
/Essential/Essential_L1/Essential_L1.2/bin/Debug/Essential_L1.2.exe
/Essential/Essential_L1/Essential_L1.2/bin/Debug/Essential_L1.2.pdb
/Essential/Essential_L1/Essential_L1.2/obj/Debug/Essential_L1.2.csprojResolveAssemblyReference.cache
/Essential/Essential_L1/Essential_L1.2/obj/Debug/Essential_L1.2.exe
/Essential/Essential_L1/Essential_L1.2/obj/Debug/Essential_L1.2.pdb
/Essential/Essential_L1/Essential_L1.2/bin/Debug
/Essential/Essential_L1/Essential_L1.3/bin/Debug
/Essential/Essential_L1/Essential_L1.3/obj/Debug
/Essential/Essential_L2/Essential_L2/bin/Debug
/Essential/Essential_L2/Essential_L2/obj/Debug
/.gitattributes
/Essential/Essential_L2/Essential_L2.1/bin/Debug
/Essential/Essential_L2/Essential_L2.1/obj/Debug
/Essential/Essential_L2/Essential_L2.2/bin/Debug
/Essential/Essential_L2/Essential_L2.2/obj/Debug
/Essential/Essential_L2/*.suo
/Essential/Essential_L2/Essential_L2.3/bin/Debug
/Essential/Essential_L2/Essential_L2.3/obj/Debug
/Essential/Essential_L3/Essential_L3/bin/Debug
/Essential/Essential_L3/Essential_L3/obj/Debug
/Essential/Essential_L3/*.suo
/Essential/Essential_L3/Essential_L3.1/obj/Debug
/Essential/Essential_L3/Essential_L3.1/bin/Debug
/Essential/Essential_L3/Essential_L3.2/bin/Debug
/Essential/Essential_L3/Essential_L3.2/obj/Debug
/Essential/Essential_L3/Essential_L3.3/bin/Debug
/Essential/Essential_L3/Essential_L3.3/obj/Debug
/Essential/Essential_L4/Essential_L4/bin/Debug
/Essential/Essential_L4/Essential_L4/obj/Debug
/Essential/Essential_L4/*.suo
/Essential/Essential_L4/Essential_L4.1/obj/Debug
/Essential/Essential_L4/Essential_L4.1/bin/Debug
/Essential/Essential_L4/Essential_L4.2/bin/Debug
/Essential/Essential_L4/Essential_L4.2/obj/Debug
/Essential/Essential_L5/Essential_L5/bin/Debug
/Essential/Essential_L5/Essential_L5/obj/Debug
/Essential/Essential_L5/*.suo
/Essential/Essential_L5/Essential_L5.1/obj/Debug
/Essential/Essential_L5/Essential_L5.1/bin/Debug
/Essential/Essential_L5/Essential_L5.2/obj/Debug
/Essential/Essential_L5/Essential_L5.2/bin/Debug
/Essential/Essential_L5/Essential_L5.3/obj/Debug
/Essential/Essential_L5/Essential_L5.3/bin/Debug
/Essential/Essential_L6/Essential_L6/obj/Debug
/Essential/Essential_L6/Essential_L6/bin/Debug
/Essential/Essential_L6/*.suo
/Essential/Essential_L6/Essential_L6.1/bin/Debug
/Essential/Essential_L6/Essential_L6.1/obj/Debug
/Essential/Essential_L6/Essential_L6.2/obj/Debug
/Essential/Essential_L6/Essential_L6.2/bin/Debug
/Essential/Essential_L6/Essential_L6.3/obj/Debug
/Essential/Essential_L6/Essential_L6.3/bin/Debug
/Essential/Essential_L7/Essential_L7/obj/Debug
/Essential/Essential_L7/Essential_L7/bin/Debug
/Essential/Essential_L7/*.suo
/Essential/Essential_L7/Essential_L7.1/obj/Debug
/Essential/Essential_L7/Essential_L7.1/bin/Debug
/Essential/Essential_L7/Essential_L7.2/obj/Debug
/Essential/Essential_L7/Essential_L7.2/bin/Debug
/Essential/Essential_L7/Essential_L7.1/*.png
/Essential/Essential_L8/Essential_L8/bin/Debug
/Essential/Essential_L8/Essential_L8/obj/Debug
/Essential/Essential_L8/*.suo
/Essential/Essential_L8/Essential_L8.1/obj/Debug
/Essential/Essential_L8/Essential_L8.1/bin/Debug
/Essential/Essential_L8/Essential_L8.2/obj/Debug
/Essential/Essential_L8/Essential_L8.2/bin/Debug
/Essential/Essential_L9/Essential_L9/obj/Debug
/Essential/Essential_L9/Essential_L9/bin/Debug
/Essential/Essential_L9/*.suo
/Essential/Essential_L9/Essential_L9.1/obj/Debug
/Essential/Essential_L9/Essential_L9.1/bin/Debug
/Essential/Essential_L9/Essential_L9.2/obj/Debug
/Essential/Essential_L9/Essential_L9.2/bin/Debug
/Essential/Essential_L10/Essential_L10/obj/Debug
/Essential/Essential_L10/Essential_L10/bin/Debug
/Essential/Essential_L10/*.suo
