/Essential/Essential_L1/*.suo
/Essential/Essential_L1/Essential_L1/bin
/Essential/Essential_L1/Essential_L1/obj
/Essential/Essential_L1/Essential_L1.1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Essential/Essential_L1/Essential_L1.1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Essential/Essential_L1/Essential_L1.1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Essential/Essential_L1/Essential_L1.1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Essential/Essential_L1/Essential_L1.1/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Essential/Essential_L1/Essential_L1.1/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Essential/Essential_L1/Essential_L1.1/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Essential/Essential_L1/Essential_L1.1/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Essential/Essential_L1/Essential_L1.1/bin/x64/Debug/Essential_L1.1.exe
/Essential/Essential_L1/Essential_L1.1/bin/x64/Debug/Essential_L1.1.exe.config
/Essential/Essential_L1/Essential_L1.1/bin/x64/Debug/Essential_L1.1.pdb
/Essential/Essential_L1/Essential_L1.1/bin/x64/Debug/Essential_L1.1.vshost.exe
/Essential/Essential_L1/Essential_L1.1/bin/x64/Debug/Essential_L1.1.vshost.exe.config
/Essential/Essential_L1/Essential_L1.1/obj/x64/Debug/Essential_L1.1.csproj.FileListAbsolute.txt
/Essential/Essential_L1/Essential_L1.1/obj/x64/Debug/Essential_L1.1.exe
/Essential/Essential_L1/Essential_L1.1/obj/x64/Debug/Essential_L1.1.pdb
/Essential/Essential_L1/Essential_L1.2/bin/Debug/Essential_L1.2.exe.config
/Essential/Essential_L1/Essential_L1.2/bin/Debug/Essential_L1.2.vshost.exe
/Essential/Essential_L1/Essential_L1.2/bin/Debug/Essential_L1.2.vshost.exe.config
/Essential/Essential_L1/Essential_L1.2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Essential/Essential_L1/Essential_L1.2/obj/Debug/Essential_L1.2.csproj.FileListAbsolute.txt
/Essential/Essential_L1/Essential_L1.2/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Essential/Essential_L1/Essential_L1.2/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Essential/Essential_L1/Essential_L1.2/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Essential/Essential_L1/Essential_L1.1/bin/x64/Debug/Essential_L1.1.vshost.exe.manifest
/Essential/Essential_L1/Essential_L1.2/bin/Debug/Essential_L1.2.exe
/Essential/Essential_L1/Essential_L1.2/bin/Debug/Essential_L1.2.pdb
/Essential/Essential_L1/Essential_L1.2/obj/Debug/Essential_L1.2.csprojResolveAssemblyReference.cache
/Essential/Essential_L1/Essential_L1.2/obj/Debug/Essential_L1.2.exe
/Essential/Essential_L1/Essential_L1.2/obj/Debug/Essential_L1.2.pdb
/Essential/Essential_L1/Essential_L1.2/bin/Debug
/Essential/Essential_L1/Essential_L1.3/bin/Debug
/Essential/Essential_L1/Essential_L1.3/obj/Debug
/Essential/Essential_L2/Essential_L2/bin/Debug
/Essential/Essential_L2/Essential_L2/obj/Debug
/.gitattributes
/Essential/Essential_L2/Essential_L2.1/bin/Debug
/Essential/Essential_L2/Essential_L2.1/obj/Debug
/Essential/Essential_L2/Essential_L2.2/bin/Debug
/Essential/Essential_L2/Essential_L2.2/obj/Debug
/Essential/Essential_L2/*.suo
/Essential/Essential_L2/Essential_L2.3/bin/Debug
/Essential/Essential_L2/Essential_L2.3/obj/Debug
/Essential/Essential_L3/Essential_L3/bin/Debug
/Essential/Essential_L3/Essential_L3/obj/Debug
/Essential/Essential_L3/*.suo
/Essential/Essential_L3/Essential_L3.1/obj/Debug
/Essential/Essential_L3/Essential_L3.1/bin/Debug
/Essential/Essential_L3/Essential_L3.2/bin/Debug
/Essential/Essential_L3/Essential_L3.2/obj/Debug
/Essential/Essential_L3/Essential_L3.3/bin/Debug
/Essential/Essential_L3/Essential_L3.3/obj/Debug
/Essential/Essential_L4/Essential_L4/bin/Debug
/Essential/Essential_L4/Essential_L4/obj/Debug
/Essential/Essential_L4/*.suo
/Essential/Essential_L4/Essential_L4.1/obj/Debug
/Essential/Essential_L4/Essential_L4.1/bin/Debug
/Essential/Essential_L4/Essential_L4.2/bin/Debug
/Essential/Essential_L4/Essential_L4.2/obj/Debug
/Essential/Essential_L5/Essential_L5/bin/Debug
/Essential/Essential_L5/Essential_L5/obj/Debug
/Essential/Essential_L5/*.suo
/Essential/Essential_L5/Essential_L5.1/obj/Debug
/Essential/Essential_L5/Essential_L5.1/bin/Debug
/Essential/Essential_L5/Essential_L5.2/obj/Debug
/Essential/Essential_L5/Essential_L5.2/bin/Debug
/Essential/Essential_L5/Essential_L5.3/obj/Debug
/Essential/Essential_L5/Essential_L5.3/bin/Debug
/Essential/Essential_L6/Essential_L6/obj/Debug
/Essential/Essential_L6/Essential_L6/bin/Debug
/Essential/Essential_L6/*.suo
/Essential/Essential_L6/Essential_L6.1/bin/Debug
/Essential/Essential_L6/Essential_L6.1/obj/Debug
/Essential/Essential_L6/Essential_L6.2/obj/Debug
/Essential/Essential_L6/Essential_L6.2/bin/Debug
/Essential/Essential_L6/Essential_L6.3/obj/Debug
/Essential/Essential_L6/Essential_L6.3/bin/Debug
/Essential/Essential_L7/Essential_L7/obj/Debug
/Essential/Essential_L7/Essential_L7/bin/Debug
/Essential/Essential_L7/*.suo
/Essential/Essential_L7/Essential_L7.1/obj/Debug
/Essential/Essential_L7/Essential_L7.1/bin/Debug
/Essential/Essential_L7/Essential_L7.2/obj/Debug
/Essential/Essential_L7/Essential_L7.2/bin/Debug
/Essential/Essential_L7/Essential_L7.1/*.png
/Essential/Essential_L8/Essential_L8/bin/Debug
/Essential/Essential_L8/Essential_L8/obj/Debug
/Essential/Essential_L8/*.suo
/Essential/Essential_L8/Essential_L8.1/obj/Debug
/Essential/Essential_L8/Essential_L8.1/bin/Debug
/Essential/Essential_L8/Essential_L8.2/obj/Debug
/Essential/Essential_L8/Essential_L8.2/bin/Debug
/Essential/Essential_L9/Essential_L9/obj/Debug
/Essential/Essential_L9/Essential_L9/bin/Debug
/Essential/Essential_L9/*.suo
/Essential/Essential_L9/Essential_L9.1/obj/Debug
/Essential/Essential_L9/Essential_L9.1/bin/Debug
/Essential/Essential_L9/Essential_L9.2/obj/Debug
/Essential/Essential_L9/Essential_L9.2/bin/Debug
/Essential/Essential_L10/Essential_L10/obj/Debug
/Essential/Essential_L10/Essential_L10/bin/Debug
/Essential/Essential_L10/*.suo
/Essential/Essential_L10/Essential_L10.1/obj/Debug
/Essential/Essential_L10/Essential_L10.1/bin/Debug
/Essential/Essential_L10/Essential_L10.2/obj/Debug
/Essential/Essential_L10/Essential_L10.2/bin/Debug
/Essential/Essential_L10/Essential_L10.3/obj/Debug
/Essential/Essential_L10/Essential_L10.3/bin/Debug
/Essential/Essential_11/Essential_11/obj/Debug
/Essential/Essential_11/Essential_11/Properties
/Essential/Essential_11/Essential_11/bin/Debug
/Essential/Essential_11/*.suo
/Essential/Essential_L12/Essential_L12/obj/Debug
/Essential/Essential_L12/Essential_L12/bin/Debug
/Essential/Essential_L12/*.suo
/Essential/Essential_L12/Essential_L12/Properties
/Essential/Essential_L12/Essential_L12/obj/x86/Debug
/Essential/Essential_13/Essential_13/obj/Debug
/Essential/Essential_13/Essential_13/bin/Debug
/Essential/Essential_13/*.suo
/Essential/Essential_L13/Essential_L13/bin/Debug
/Essential/Essential_L13/Essential_L13/obj/Debug
/Essential/Essential_L13/*.suo
/Essential/Essential_L12/Essential_L12.1/obj/Debug
/Essential/Essential_L13/Essential_L13.1/obj/Debug
/Essential/Essential_L12/Essential_L12.1/bin/Debug
/Essential/Essential_L12/Essential_L12.1/Properties
/Essential/Essential_L12/Essential_L12.2/obj/Debug
/Essential/Essential_L12/Essential_L12.2/Properties
/Essential/Essential_L12/Essential_L12.2/bin/Debug
/Essential/Essential_L14/Essential_L14/obj/Debug
/Essential/Essential_L13/Essential_L13.1/bin/Debug
/Essential/Essential_L14/Essential_L14/bin/Debug
/Essential/Essential_L14/*.suo
/Essential/Essential_L14/Essential_L14.1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Essential/Essential_L14/Essential_L14.1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Essential/Essential_L14/Essential_L14.1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Essential/Essential_L14/Essential_L14.1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Essential/Essential_L14/Essential_L14.2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Essential/Essential_L14/Essential_L14.2/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Essential/Essential_L14/Essential_L14.2/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Essential/Essential_L14/Essential_L14.2/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Essential/Essential_L14/Essential_L14.3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Essential/Essential_L14/Essential_L14.3/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Essential/Essential_L14/Essential_L14.3/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Essential/Essential_L14/Essential_L14.3/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Essential/Essential_L14/Essential_L14.3/bin/Debug/Essential_L14.3.exe
/Essential/Essential_L14/Essential_L14.3/bin/Debug/Essential_L14.3.exe.config
/Essential/Essential_L14/Essential_L14.3/bin/Debug/Essential_L14.3.pdb
/Essential/Essential_L14/Essential_L14.3/bin/Debug/Essential_L14.3.vshost.exe
/Essential/Essential_L14/Essential_L14.3/bin/Debug/Essential_L14.3.vshost.exe.config
/Essential/Essential_L14/Essential_L14.3/bin/Debug/Essential_L14.3.vshost.exe.manifest
/Essential/Essential_L14/Essential_L14.3/obj/Debug/Essential_L14.3.csproj.FileListAbsolute.txt
/Essential/Essential_L14/Essential_L14.3/obj/Debug/Essential_L14.3.csprojResolveAssemblyReference.cache
/Essential/Essential_L14/Essential_L14.3/obj/Debug/Essential_L14.3.exe
/Essential/Essential_L14/Essential_L14.3/obj/Debug/Essential_L14.3.pdb
/Essential/Essential_L15/Essential_L15/obj/Debug
/Essential/Essential_L15/Essential_L15/bin/Debug
/Essential/Essential_L15/*.suo
/Essential/Essential_L15/Essential_L15.1/obj/Debug
/Essential/Essential_L15/Essential_L15.1/bin/Debug
/Essential/Essential_L15/Essential_L15.2/obj/Debug
/Essential/Essential_L15/Essential_L15.2/bin/Debug
/Essential/Essential_L16/Essential_L16/obj/Debug
/Essential/Essential_L16/Essential_L16/bin/Debug
/Essential/Essential_L16/*.suo
/Essential/Essential_L16/Essential_L16.1/obj/Debug
/Essential/Essential_L16/Essential_L16.1/bin/Debug
/Essential/Essential_L16/Essential_L16.2/obj/Debug
/Essential/Essential_L16/Essential_L16.2/bin/Debug
/Essential/Essential_L16/Essential_L16.3/obj/Debug
/Essential/Essential_L17/Essential_L17/obj/Debug
/Essential/Essential_L17/Essential_L17/bin/Debug
/Essential/Essential_L17/*.suo
/Essential/Essential_L17/Essential_L17.2/obj/Debug
/Essential/Essential_L17/Essential_L17.1/obj/Debug
/Essential/Essential_L17/Essential_L17.1/bin/Debug
/Essential/Essential_L18/Essential_L18/obj/Debug
/Essential/Essential_L18/Essential_L18/bin/Debug
/Essential/Essential_L18/*.suo
/Essential/Essential_L18/Essential_L18_dll/obj/Debug
/Essential/Essential_L18/Essential_L18.1/obj/Debug
/Essential/Essential_L18/Essential_L18_dll/bin/Debug
/Essential/Essential_L18/Essential_L18.1/bin/Debug
/Professional/Professional_L1/Professional_L1/obj/Debug
/Professional/Professional_L1/Professional_L1/bin/Debug
/Professional/Professional_L1/*.suo
/Professional/Professional_L1/Professional_L1.1/obj/Debug
/Professional/Professional_L1/Professional_L1.1/bin/Debug
/Professional/Professional_L1/Professional_L1.2/obj/Debug
/Professional/Professional_L1/Professional_L1.2/bin/Debug
/Professional/Professional_L1/Professional_L1.3/obj/Debug
/Professional/Professional_L1/Professional_L1.3/bin/Debug
/Professional/Professional_L.2/Professional_L.2/obj/Debug
/Professional/Professional_L.2/Professional_L.2/bin/Debug
/Professional/Professional_L.2/*.suo
/Professional/Professional_L.2/Professional_L.2.1/obj/Debug
/Professional/Professional_L.2/Professional_L.2.1/bin/Debug
/Professional/Professional_L.2/Professional_L.2.2/obj/Debug
/Professional/Professional_L.2/Professional_L.2.2/bin/Debug
/Professional/Professional_L.2/Professional_L.2.3/obj/Debug
/Professional/Professional_L.2/Professional_L.2.3/bin/Debug
/Professional/Professional_L3/Professional_L3/obj/Debug
/Professional/Professional_L3/Professional_L3/bin/Debug
/Professional/Professional_L3/*.suo
/Professional/Professional_L3/Professional_L3.1/obj/Debug
/Professional/Professional_L3/Professional_L3.1/bin/Debug
/Professional/Professional_L3/Professional_L3.1/obj/Release
/Professional/Professional_L3/Professional_L3.2/bin/Release
/Professional/Professional_L3/Professional_L3.2/obj/Debug
/Professional/Professional_L3/Professional_L3/obj/Release
/Professional/Professional_L3/Professional_L3.2/bin/Debug
/Professional/Professional_L3/Professional_L3.2/obj/Release
/Professional/Professional_L3/Professional_L3.3/bin/Release
/Professional/Professional_L3/Professional_L3.3/obj/Release
/Professional/Professional_L3/Professional_L3.3/obj/Debug
/Professional/Professional_L3/Professional_L3/bin/Release
/Professional/Professional_L3/Professional_L3.3/Properties
/Professional/Professional_L4/Professional_L4/obj/Debug
/Professional/Professional_L4/Professional_L4/bin/Debug
/Professional/Professional_L4/*.suo
/Professional/Professional_L4/Professional_L4.1/obj/Debug
/Professional/Professional_L4/Professional_L4.1/bin/Debug
/Professional/Professional_L3/Professional_L3.1/bin/Release
/Professional/Professional_L4/Professional_L4.2/obj/Debug
/Professional/Professional_L4/Professional_L4.2/bin/Debug
/Professional/Professional_L5/Professional_L5/bin/Debug
/Professional/Professional_L5/Professional_L5/obj/Debug
/Professional/Professional_L5/Professional_L5/*.csproj
/Professional/Professional_L5/*.suo
/Professional/Professional_L5/Professional_L5.1/bin/Debug
/Professional/Professional_L5/Professional_L5.1/obj/Debug
/Professional/Professional_L5/Professional_L5.2/obj/Debug
/Professional/Professional_L5/Professional_L5.2/bin/Debug
/Professional/Professional_L5/Professional_L5.3/bin/Debug
/Professional/Professional_L5/Professional_L5.3/obj/Debug
/Professional/Professional_L5/Professional_L5.3/Properties
/Professional/Professional_L6/Professional_L6.0/bin/Debug
/Professional/Professional_L6/Professional_L6.0/obj/Debug
/Professional/Professional_L6/*.suo
/Professional/Professional_L6/Professional_L6.0/Properties
/Professional/Professional_L6/Professional_L6.0/obj/Release
/Professional/Professional_L6/Professional_L6.2/obj/Debug
/Professional/Professional_L6/Professional_L6.2/bin/Debug
/Professional/Professional_L6/Professional_L6.2/obj/Release
/Professional/Professional_L6/Temperature/obj/Debug
/Professional/Professional_L7/Professional_L7/bin/Debug
/Professional/Professional_L7/Professional_L7/obj/Debug
/Professional/Professional_L7/*.suo
/Professional/Professional_L7/Professional_L7.1/bin/Debug
/Professional/Professional_L7/Professional_L7.1/obj/Debug
/Professional/Professional_L7/Professional_L7.2/obj/Debug
/Professional/Professional_L7/Professional_L7.2/bin/Debug
/Professional/Professional_L7/Professional_L7.2/obj/Release
/Professional/Professional_L7/Professional_L7.2/Properties
/Professional/Professional_L8/Professional_L8/bin/Debug
/Professional/Professional_L8/Professional_L8/obj/Debug
/Professional/Professional_L8/*.suo
/Professional/Professional_L8/Professional_L8.1/bin/Debug
/Professional/Professional_L8/Professional_L8.1/obj/Debug
/Professional/Professional_L8/Address/obj/Debug
/Professional/Professional_L8/Professional_L8.2/bin/Debug
/Professional/Professional_L8/Professional_L8.2/obj/Debug
/Professional/Professional_L8/Address/bin/Debug
/Professional/Professional_L9/Professional_L9/obj/Debug
/Professional/Professional_L9/Professional_L9/bin/Debug
/Professional/Professional_L9/*.suo
/Professional/Professional_L9/Professional_L9.1/obj/Debug
/Professional/Professional_L9/Professional_L9.1/bin/Debug
/Professional/Professional_L9/Professional_L9.2/obj/Debug
/Professional/Professional_L9/Professional_L9.2/bin/Debug
/Professional/Professional_L10/Professional_L10/obj/Debug
/Professional/Professional_L10/*.suo
/Professional/Professional_L10/Professional_L10/bin/Debug
/Professional/Professional_L10/BaseClass/obj/Debug
/Professional/Professional_L10/BaseClass/bin/Debug
/Professional/Professional_L10/Professional_L10.1/bin/Debug
/Professional/Professional_L10/Professional_L10.1/obj/Debug
/Professional/Professional_L11/Professional_L11/obj/Debug
/Professional/Professional_L11/Professional_L11/bin/Debug
/Professional/Professional_L11/*.suo
/Professional/Professional_L11/Professional_L11.1/obj/Debug
/Professional/Professional_L11/Professional_L11.1/bin/Debug
/Professional/Professional_L12/*.suo
/Professional/Professional_L12/Professional_L12/obj/Debug
/Professional/Professional_L12/Professional_L12/bin/Debug
/Professional/Professional_L12/Professional_L12.1/obj/Debug
/Professional/Professional_L12/Professional_L12.1/bin/Debug
/Professional/Professional_L12/Professional_L12.2/obj/Debug
/Professional/Professional_L12/Professional_L12.2/bin/Debug
/Professional/Professional_L13/*.suo
/Professional/Professional_L13/Professional_L13/bin/Debug
/Professional/Professional_L13/Professional_L13/obj/Debug
/Professional/Professional_L13/Professional_L13.1/obj/Debug
/Professional/Professional_L13/Professional_L13.1/bin/Debug
/Professional/Professional_L13/Professional_L13.1/Properties
/Professional/Professional_L14/Professional_L14/obj/Debug
/Professional/Professional_L14/Professional_L14/bin/Debug
/Professional/Professional_L14/*.suo
/Professional/Professional_L14/Professional_L14.1/bin/Debug
/Professional/Professional_L14/Professional_L14.1/obj/Debug
/Professional/Professional_L16/Professional_L16/bin/Debug
/Professional/Professional_L16/Professional_L16/obj/Debug
/Professional/Professional_L16/*.suo
